<link rel="stylesheet" href="/static/styles/topbar.css">

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <!-- Toggle Button cho mobile -->
        <button class="sidebar-toggle" aria-label="Toggle Sidebar">
            <i class="bi bi-list"></i>
        </button>
        <!-- Logo and Search -->
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="/dashboard">
                C2 Academy
            </a>
            <form class="search-form d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search Academy" aria-label="Search">
                <i class="bi bi-search search-icon"></i>
            </form>
        </div>

        <!-- Hamburger toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <!-- Right side elements -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
            <li class="nav-item dropdown">
                <a class="user-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ avatar if avatar else '/static/default-avatar.jpg' }}" alt="Avatar" class="rounded-circle me-2" width="30" height="30" styles="object-fit: cover;">
                    <span class="username">{{ username }}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>