.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Chiều cao toàn màn hình */
    width: 250px; /* Độ rộng sidebar */
    background-color: #f8f9fa; /* Màu nền sidebar */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Đổ bóng */
    z-index: 1000; /* Đảm bảo sidebar luôn ở trên */
}
.sidebar .nav-link {
    color: #495057;
    font-size: 1em;
    padding: 10px 15px; /* Khoảng cách trong link */
    display: block; /* Đảm bảo link chiếm toàn bộ chiều ngang */
}
.sidebar .nav-link.active {
    background-color: #000; /* Màu nền khi active */
    color: white;
}
.sidebar .nav-link:hover {
    background-color: #272913; /* Màu nền khi hover */
    color: white; /* Màu chữ khi hover */
}
.main-content {
    margin-left: 200px; /* Đẩy nội dung chính sang phải bằng độ rộng sidebar */
    padding: 20px; /* Khoảng cách padding cho nội dung */
}